.main{
    margin-top: 100px;
}
.logo-img{
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    width: 400px;
    display: block ;
     margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    border: 1px solid black;
    height: 24px;
    padding-left: 30px;
    padding-bottom:10px ;
    padding-right:30px ;
    padding-top:10px ;
}

.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #dfe1e5;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 8px;
}