body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(lightskyblue,rgb(45, 56, 213),black);
    color: rgb(239, 242, 244);
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-img{
width: 150px;
height: 150px;
border-radius: 50%;
border: 5px solid rgb(142, 246, 114);

}
h1,h2,h4,h3,p{
    text-shadow: 0 0 1px black;
}
.my-age{
    background-color: rgb(142, 246, 114);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px 0 10px 0;
}
.date-today{
    background-color: rgb(142, 246, 114);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}
.gift-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gift-hint{
    margin-top: 2px;
}
.gift-title{
    margin-bottom: 6px;
}
.gift-imgone,.gift-imgfive,.gift-imgfour,.gift-imgthree,.gift-imgtwo{
    width: 400px;
    height: 400px;
    border: 5px solid white;
    border-radius: 10px;
    background-image: url("gifts.jpg");
    background-size: cover;
}
.gift-imgone:hover{
    background-image: url("Happy-Dance.gif");
    background-size:cover;
}
.gift-imgtwo:hover{
    background-image: url("Girl-Love.gif");
    background-size:cover;
}
.gift-imgthree:hover{
    background-image: url("Smart-Genius.gif");
    background-size:cover;
}
.gift-imgfour:hover{
    background-image: url("batman.gif");
    background-size:cover;
}

.gift-imgfive{
height: 200px;
}
.gift-imgfive:hover{
    background-image: url("celebration.gif");
    background-size:cover;
}
.footer{
    text-align: center;
    margin: 20px auto;
}
.footer a{
   color: aliceblue;
}